@font-face {
  font-family: 'Museo';
  font-weight: 500;
  src: url('../fonts/Museo-500.otf');
}
@font-face {
  font-family: 'Museo';
  font-weight: 700;
  src: url('../fonts/Museo-700.otf');
}

html {
  font-size: 16px;
}

/* General */
body {
  background-color:#fff2da;
  font-family: 'Museo';
  color: #0066b3;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Museo';
font-weight: 500;
font-style: normal;
color: #0066b3;
text-rendering: optimizeLegibility;
margin-top: 0.2rem;
margin-bottom: 0.5rem;
line-height: 1.4;
}

p {
  font-family: 'Museo';
  font-weight: 500;
  font-style: normal;
  line-height: 1.2em;
  cursor: default;
}

.contain-to-grid {
  /*padding:20px 0 0 30px;*/
  background-color: #0066b3;
}

.top-bar {
  background: #0066b3;
  height: 65px;
}

.top-bar.expanded .title-area {
  background: #0066b3;
}

.top-bar-section ul {
  background-color: #0066b3;
  margin-top: 10px;
}

.top-bar-section ul.dropdown {
  margin-top: 0px;
}

.top-bar .name {
  height: 65px;
}

.top-bar-section ul li a{
  font-size: 1em;
  font-family: 'Museo';
}

.top-bar-section li a:not(.button) {
  background: #0066b3;
}

.top-bar-section li a:not(.button):hover {
  background: #469EE8;
}

.top-bar-section ul li:hover > a {
  background: #469EE8;
}

.top-bar.expanded .toggle-topbar a {
  color: #ffffff;
}

.topbar-wrapper {
  position: relative;
  height: 100%;
  max-width: 1008px;
  margin: 0 auto;
}


.title-bar{
  background-color:#fecb6a;
}

.title-bar h1{
  font-family: 'Museo';
  font-weight: bold;
  color: #0066b3;
  font-size: 36px;
}

.title-bar h2{
  font-family: 'Lobster';
  font-weight: normal;
  color: #0066b3;
  font-size: 30px;
}

.button {
  background-color: #f04e23;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #E8230C;
}

.facebook-hero {
  background-color: #ffffff;
  border-top: solid 1px #a1a1a1;
  border-bottom: solid 1px #a1a1a1;
}

.facebook-button {
  background-color: #468dc8;
}

.facebook-button:hover, .facebook-button:focus {
  background-color: #469EE8;
}

/* Images */
.circular {
  width: 140px;
  height: 140px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  /*background: url(http://link-to-your/image.jpg) no-repeat;*/
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.first-row {
  margin-top:30px;
}

.last-row {
  margin-bottom:230px;
}
/* Prices */

.price {
  background-color:rgba(0,0,0,0.5);
}

.price h2{
  font-family: 'Museo';
  color: #80bdff;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  opacity:2.2;
  filter:alpha(opacity=220); /* For IE8 and earlier */
}

.price p, .price ul li{
  font-family: 'Museo';
  color: #80bdff;
  font-size: 18px;
  opacity:2.2;
  filter:alpha(opacity=220); /* For IE8 and earlier */
  /*margin-left:3em;*/
  text-align:center;
}

.price ul  { /* also works with ol */
    width: 100%; /* or your desired width */
    text-align: center; /* this will center the list items */
    margin-left:0;
}
.price ul li {
    display: inline-block; /* the key bit */
    *display: inline; /* IE7 hack */
    *zoom: 1; /* IE7 hack */
    margin-right:10px;
}

/* Map */

#map_canvas {
  height: 600px;
}

.map-col h2 {
  font-size: 30px;
  color: #80bdff;
}

/* Slider */

#slide1 img {position:absolute; z-index: -1;}

/* Danse moderne */
.dance-stage{
  margin-top: 30px;
}

/* Contact */
body#contact{
  background: url(../img/bg-contact.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-form {
  height:450px;
  margin-top:30px;
}

.contact-form form label {
font-size: 1.5rem;
color: #80bdff;
cursor: pointer;
display: block;
font-weight: normal;
margin-bottom: 0.5rem;
}

.contact-form form input, .contact-form form textarea{
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default;
}

.contact-form p.address {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2em;
  cursor: default;
  font-size:  1.2em;
  text-align:center;
  color: #ffffff;
}

/* Events */

.event h1 {
  font-size: 1em;
  font-weight: bold;
  color: #F07F33;
}

.event {
  padding-top:0px;
  font-family: 'Museo';
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
}

.event p {
  line-height: 1.2em;
  color: #0066B3;
}

/* Remise en forme */
body#aerobic{
  background: url(../img/bg-aerobic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Danse moderne */
body#modern{
  background: url(../img/bg-modern.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Danses de salon- stages */
.dance-col h3 {
  font-size: 24px;
  color: #fecb6a;
}

/* Danses de salon - Démonstations */
.dance-demo{
  height: 650px;
  margin-top: 30px;
}

/* Danses de salon */

body#dance{
  background: url(../img/bg-dance.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#stage{
  background: url(../img/bg-dance.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#salon{
  background: url(../img/bg-salon.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#demo{
  background: url(../img/bg-demo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#links{
  background: url(../img/bg-links.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#demo .first-row{
  height:600px;
}


.dance-col{
  font-family: 'Museo';
  font-size: 18px;
  color: #f1f1f1;
  text-align: left;
}

.dance-col h2 {
  font-size: 30px;
  color: #80bdff;
}

/* links */
#links .links a{
  color: #80BDFF;
}

#links .links a:hover{
  color: #CCE5FF;
}

/* home */

.heroCourseList {
  font-family: 'Museo';
  color: #0066b3;
  text-align: center;
  font-size: 14px;
}

.heroCourseList h2{
  font-family: 'Museo';
  color: #0066b3;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.heroCourseList img {
  border: solid 2px #fecb6a;
}

.heroCourseList p {
  font-family: 'Museo';
  font-size: 1em;
  line-height: 1.5em;
}

.col-index{
  margin-top:30px;
  text-align:center;
}

.col-header-img{
  width:140px;
  margin:0 auto;
}

.welcome {
  padding-top:30px;
  font-family: 'Museo';
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.tract {
  margin-top: 140px;
  text-align:right;
}

.welcome h1 {
  font-family: 'Museo';
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.welcome h3, .welcome h4 {
  font-family: 'Museo';
  color: #FF5325;
  text-align: center;
  font-weight: bold;
}

.welcome h4 {
  font-family: 'Museo';
  color: #ffffff;
}

.welcome p {
  line-height: 1.3em;
}

/* Footer */
#footer {
  padding-top:30px;
  background-color: #ffffff;
  font-family: 'Museo';
  color: #a1a1a1;
  font-size: 16px;
  height:400px;
}

#footer .links a{
  font-family: 'Museo';
  font-size: 1em;
}

#footer ul {display: table; margin: 0 auto;}
#footer ul li {display: table-cell;}

#footer .footer-links {
  right:10px;
}

#footer .address p {
  text-align:center;
}

/* table */
table {
  background-color:rgba(255,255,255,0.5);
  border-collapse:collapse;
  border:none;
}

table thead {
  background:none;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: none;
}

table thead tr:nth-child(odd) {
  background:none;
}

tr:nth-child(odd) {
  background-color:rgba(255,255,255,0.3);
}

table thead tr th {
  color: #ffffff !important;
  font-family: 'Museo';
  font-weight: bold;
  font-size: 0,875em;
  padding-top:30px;
}

td {
  color: #ffffff !important;
  font-family: 'Museo';
  font-size: 14px;
  width:25%;
}

@media screen and (max-width: 1025px) {
  .tract {
    margin-top: 100px;
  }
}

@media screen and (max-width: 960px) {
  .title-bar h1, .title-bar h2{
    font-size: 1.5em;
  }

  .top-bar .name h1 img {
    margin-top:15px;
    height: 45px;
  }
  .top-bar-section ul li a {
    font-size: 0.8em;
  }

  /* Home */
  .welcome h1 {
    font-size: 0.8em;
    font-weight: bold;
  }

  .welcome h3 {
    font-size: 0.8em;
  }

  .welcome h4 {
    font-size: 0.8em;
  }

  .tract {
    font-size: 1em;
    margin-top: 150px;
  }

  .col-index p{
    min-height:140px;
  }

  #map_canvas {
    height: 400px;
  }

  #map_canvas .firstHeading {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .title-bar h1, .title-bar h2{
    font-size: 1.2em;
  }

  .welcome h1 {
    font-size: 0.7em;
    font-weight: bold;
  }

  .welcome h3 {
    font-size: 0.7em;
  }

  .welcome h4 {
    font-size: 0.7em;
  }

  .tract {
    font-size: 1em;
    margin-top: 0px;
  }

  .top-bar .name h1 img {
    height: 30px;
    margin-top:15px;
  }
  .top-bar-section ul li a {
    font-size: 0.8em;
  }

  .col-index p{
    min-height:180px;
  }

  #footer .links a{
    font-size: 0.9em;
  }

  #map_canvas {
    height: 300px;
  }

  #map_canvas .firstHeading {
    font-size: 1.5em;
  }

}

@media screen and (max-width: 640px) {
  .top-bar .name h1 img {
    margin-top:15px;
    height: auto;
  }
  .top-bar .name h1 a {
    width: 65%;
  }

  .top-bar-section ul li a {
    font-size: 0.8em;
  }

  .title-bar h2{
    font-size: 1.5em;
  }

  /* Home */
  .welcome h1 {
    font-size: 1em;
    font-weight: bold;
    color: #F07F33;
  }

  .welcome {
    padding-top:0px;
    font-family: 'Museo';
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
  }

  .welcome p {
    line-height: 1.2em;
    color: #0066B3;
  }

  .col-index p{
    min-height:0px;
  }

  #footer ul {
    text-align:center;
  }

}
